# Keil MDK Project Files
*.uvoptx
*.uvprojx
*.uvguix.*
*.bak

# Build Output Directories
Objects/
Listings/

# Intermediate Files
*.crf
*.d
*.o
*.dep
*.axf
*.lnp
*.sct
*.map
*.lst
*.htm

# Other common build artifacts
*.hex
*.bin
*.elf
